<ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed()" class="sidebar">
  <ng-container *ngFor="let item of menuItems">
    <!-- Menu item (không có children) -->
    <li
      *ngIf="!item.children"
      nz-menu-item
      [routerLink]="item.route"
      [nzMatchRouter]="true"
    >
      <nz-icon *ngIf="item.icon" [nzType]="item.icon" />
      <span>{{ item.label }}</span>
    </li>

    <!-- Submenu -->
    <li
      *ngIf="item.children"
      nz-submenu
      [nzTitle]="item.label"
      [nzIcon]="item.icon ? item.icon : null"
    >
      <ul>
        <li
          *ngFor="let child of item.children"
          nz-menu-item
          [routerLink]="child.route"
          [nzMatchRouter]="true"
        >
          <span>{{ child.label }}</span>
        </li>
      </ul>
    </li>
  </ng-container>
</ul>
